Checks: > 
  *,
  -fuchsia-*,
  -zircon-*,
  -abseil-*,
  -llvmlibc-*,
  -altera-id-dependent-backward-branch,
  -altera-unroll-loops,
  -bugprone-easily-swappable-parameters,
  -readability-identifier-length,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -readability-non-const-parameter,
  -cppcoreguidelines-init-variables,
  -bugprone-branch-clone,
  -altera-struct-pack-align
WarningsAsErrors: '*'
HeaderFilterRegex: '^./include/clox/.*$'
FormatStyle: none
