Checks: > 
  *,
  -fuchsia-*,
  -zircon-*,
  -abseil-*,
  -llvmlibc-*,
  -altera-id-dependent-backward-branch,
  -altera-unroll-loops,
  -google-readability-braces-around-statements,
  -hicpp-braces-around-statements,
  -readability-braces-around-statements,
  -bugprone-easily-swappable-parameters,
  -readability-identifier-length,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -readability-non-const-parameter,
  -cppcoreguidelines-init-variables,
  -bugprone-branch-clone
WarningsAsErrors: '*'
HeaderFilterRegex: '^./include/graphics/.*$'
FormatStyle: none
